In [1]:
import pandas as pd

In [13]:
from pycaret.classification import *
from pycaret.regression import *
from pycaret.clustering import *

ModuleNotFoundError: No module named 'pycaret'

In [2]:
def load_data(path):
    df = pd.read_csv(path)
    return df

In [3]:
df = load_data('data/raw/titanic.csv')

La variable Survived va servir de target puisqu'on essaye de déterminer quelle persona a la plus de chance de survivre

In [4]:
def remove_after_dot(value):
    """Retire tout ce qui vient après le premier point dans une chaîne."""
    if isinstance(value, float) and '.' in str (value):
        value = str (value)
        return int(value.split('.')[0])
    else:
        return value

Supprime les nombres décimales de la colonne Age pour les garder entier

In [5]:
df['Age'] = df['Age'].fillna(999)
df['Age'] = df['Age'].apply(remove_after_dot)

Remplace les valeurs vide de la colonne Embarked par N (None)

In [6]:
df['Embarked'] = df['Embarked'].fillna('N')

Remplace les vide valeurs de la colonnes Cabin par N (None)

In [7]:
df['Cabin'] = df['Cabin'].fillna('N')

Applique les corrections dans un nouveau csv

In [8]:
df.to_csv('data/mod/titanic_mod.csv', index=False)

Chargement du cvs modifié

In [9]:
df = load_data('data/mod/titanic_mod.csv')

Affiche toutes les infos des survivants

In [10]:
survivors = df[df['Survived'] == 1]

print(survivors)

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name     Sex  Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                               Heikkinen, Miss. Laina  female   26      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female   27      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female   14      1
..                                                 ...     ...  ...    ...
875                   Najib, Miss. Adele Kiamie "Jane"  female   15      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female   56      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female   25      0
887                       Graham, Miss. Margaret Edith  female   19      0
889                              Behr, Mr. Karl Howell    male   26      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     N        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333     N        S
9        0            237736  30.0708     N        C
..     ...               ...      ...   ...      ...
875      0              2667   7.2250     N        C
879      1             11767  83.1583   C50        C
880      1            230433  26.0000     N        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[342 rows x 12 columns]

Affiche toutes les infos des victimes

In [11]:
dead = df[df['Survived'] == 0]

print(dead)

     PassengerId  Survived  Pclass                                      Name  \
0              1         0       3                   Braund, Mr. Owen Harris
4              5         0       3                  Allen, Mr. William Henry
5              6         0       3                          Moran, Mr. James
6              7         0       1                   McCarthy, Mr. Timothy J
7              8         0       3            Palsson, Master. Gosta Leonard
..           ...       ...     ...                                       ...
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex  Age  SibSp  Parch           Ticket     Fare Cabin Embarked
0      male   22      1      0        A/5 21171   7.2500     N        S
4      male   35      0      0           373450   8.0500     N        S
5      male  999      0      0           330877   8.4583     N        Q
6      male   54      0      0            17463  51.8625   E46        S
7      male    2      3      1           349909  21.0750     N        S
..      ...  ...    ...    ...              ...      ...   ...      ...
884    male   25      0      0  SOTON/OQ 392076   7.0500     N        S
885  female   39      0      5           382652  29.1250     N        Q
886    male   27      0      0           211536  13.0000     N        S
888  female  999      1      2       W./C. 6607  23.4500     N        S
890    male   32      0      0           370376   7.7500     N        Q

[549 rows x 12 columns]

In [1]:
from pycaret.classification import *
from pycaret.regression import *
from pycaret.clustering import *